// http://v4-alpha.getbootstrap.com/examples/sticky-footer/

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 60px;
}

.footer {
  background-color: $footer-bg;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}
