.ui.vertical.segment
  .ui.huge.secondary.menu
    %a.active.red.item
      = t(".movies")
    %a.item
      = t(".people")
    .right.menu
      .ui.search.item
        .ui.icon.input
          %input.prompt{ placeholder: "Search...", type: "text" }
          %i.search.link.icon
      = render "locale_switcher"
      %a.ui.item
        = t(".log_out")
